:root {
  --radius: 0.625rem;
  --background: oklch(0.98 0.003 260);
  --foreground: oklch(0.22 0.01 260);
  --card: oklch(0.97 0.002 260);
  --card-foreground: oklch(0.22 0.01 260);
  --popover: oklch(0.97 0.002 260);
  --popover-foreground: oklch(0.22 0.01 260);
  --primary: oklch(0.62 0.18 275);
  --primary-foreground: oklch(0.98 0 0);
  --secondary: oklch(0.85 0.05 260);
  --secondary-foreground: oklch(0.22 0.01 260);
  --muted: oklch(0.92 0.01 260);
  --muted-foreground: oklch(0.45 0.02 260);
  --accent: oklch(0.78 0.04 275);
  --accent-foreground: oklch(0.15 0.01 260);
  --destructive: oklch(0.6 0.23 20);
  --destructive-foreground: oklch(0.98 0 0);
  --border: oklch(0.85 0.01 260);
  --input: oklch(0.92 0.01 260);
  --ring: oklch(0.55 0.04 275);
  --chart-1: oklch(0.62 0.18 275);
  --chart-2: oklch(0.68 0.14 255);
  --chart-3: oklch(0.74 0.12 290);
  --chart-4: oklch(0.5 0.09 270);
  --chart-5: oklch(0.82 0.06 250);
  --sidebar: oklch(0.97 0.002 260);
  --sidebar-foreground: oklch(0.22 0.01 260);
  --sidebar-primary: oklch(0.62 0.18 275);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.92 0.01 260);
  --sidebar-accent-foreground: oklch(0.22 0.01 260);
  --sidebar-border: oklch(0.85 0.01 260);
  --sidebar-ring: oklch(0.55 0.04 275);
  --inputparam: oklch(0.86 0.01 260);
  --outputparam: oklch(0.86 0.0156 280);
  --downloadparam: oklch(0.86 0.021 265);
}

.dark {
  --background: oklch(0.22 0.01 260);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.27 0.01 260);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.27 0.01 260);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.62 0.18 275);
  --primary-foreground: oklch(0.22 0.01 260);
  --secondary: oklch(0.32 0.015 260);
  --secondary-foreground: oklch(0.98 0 0);
  --muted: oklch(0.32 0.01 260);
  --muted-foreground: oklch(0.78 0.02 260);
  --accent: oklch(0.27 0.01 275);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.55 0.22 20);
  --destructive-foreground: oklch(0.22 0.01 260);
  --border: oklch(0.4 0.01 260);
  --input: oklch(0.35 0.01 260);
  --ring: oklch(0.78 0.02 260);
  --chart-1: oklch(0.62 0.18 275);
  --chart-2: oklch(0.68 0.14 255);
  --chart-3: oklch(0.74 0.12 290);
  --chart-4: oklch(0.32 0.015 260);
  --chart-5: oklch(0.82 0.06 250);
  --sidebar: oklch(0.22 0.01 260);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(0.62 0.18 275);
  --sidebar-primary-foreground: oklch(0.22 0.01 260);
  --sidebar-accent: oklch(0.32 0.015 260);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.4 0.01 260);
  --sidebar-ring: oklch(0.78 0.02 260);
  --inputparam: oklch(0.12 0.01 260);
  --outputparam: oklch(0.36 0.0156 280);
}
