PUBLIC_SERVER_URL= //URL TO THE SERVER (Local probably http://localhost:5000)
PUBLIC_API_KEY=. //This is jsut for example purposes, you should use your own API key from your server and private
PUBLIC_EXAMPLE_SCRIPT //URL that compute should solve

